[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git@github.com:urbanairship/ActionBarSherlock.git
[submodule "AutomatedRichPushSampleTests/android-automator-utils"]
	path = AutomatedRichPushSampleTests/android-automator-utils
	url = git@github.com:urbanairship/android-automator-utils.git
