*.DS_Store
*.orig
bin/
*.class
*/jar/*
urbanairship-lib-*.jar
*.pyc
gen/
build/
build.properties
.settings/
airshipconfig.properties
local.properties
location.properties
deploy/build.properties
deploy/releases/
proguard/
*.swo
*.swp
*.iml
AndroidAutomatorUtils.jar
