*.DS_Store
*.orig
*/bin/*
*.class
*/jar/*
.idea/
urbanairship-lib-*.jar
*.pyc
gen/
build/
build.properties
.settings/
local.properties
location.properties
deploy/build.properties
deploy/releases/
proguard/
*.swo
*.swp
*.iml
AndroidAutomatorUtils.jar
.gradle/*
.idea
