<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.urbanairship.push.sample"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Optional: Needed if using location in Urban Airship. -->
    <!-- Use "android.permission.ACCESS_COARSE_LOCATION" instead if GPS access is not necessary -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.urbanairship.push.sample.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name="com.urbanairship.push.sample.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.urbanairship.push.sample.LocationActivity"/>

        <activity android:name="com.urbanairship.push.sample.preference.PreferencesActivity">
            <!-- Lollipop only - Allows the settings to be accessed quickly from long clicking a notification
            or through the application's notification settings. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>
        </activity>

        <!-- Optional: Used for deep linking into the application -->
        <activity android:name=".ParseDeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <!-- Handles any vnd.urbanairship.push://deeplink URI's -->
                <data
                    android:host="deeplink"
                    android:scheme="vnd.urbanairship.push"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <!-- Optional: Receives push and registration events from the Urban Airship SDK. Used
        by the push sample to display the channel ID on the main activity -->
        <receiver
            android:name="com.urbanairship.push.sample.IntentReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED"/>
                <action android:name="com.urbanairship.push.OPENED"/>
                <action android:name="com.urbanairship.push.DISMISSED"/>
                <action android:name="com.urbanairship.push.RECEIVED"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
