<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="com.urbanairship.push.sample">

    <!-- minSdkVersion sets runtime compatibility ("will run on API level 4") -->
    <!-- targetSdkVersion should be set to the latest version tested, to disable compatibility modes -->
    <uses-sdk android:minSdkVersion="4"  android:targetSdkVersion="19"/>

    <!-- REQUIRED PERMISSIONS (for Urban Airship GCM) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /><!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />	<!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /><!-- This app has permission to register with GCM and receive message -->

    <!-- MODIFICATION REQUIRED - Replace "com.urbanairship.push.sample" with your package name -->
    <permission android:name="com.urbanairship.push.sample.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.urbanairship.push.sample.permission.C2D_MESSAGE" />
    <!-- The two elements above ensure that only this application can receive the messages and registration result -->

    <!-- MODIFICATION REQUIRED - Replace "com.urbanairship.push.sample" with your package name -->
    <permission android:name="com.urbanairship.push.sample.permission.UA_DATA" android:protectionLevel="signature" />
    <uses-permission android:name="com.urbanairship.push.sample.permission.UA_DATA" />
    <!-- The two elements above ensure that only this application has access to the Urban Airship provider -->

	<!--  END Urban Airship Required Permissions -->

    <!-- OPTIONAL Urban Airship Settings -->
    <!-- REQUIRED FOR LOCATION -->
    <!-- Use ACCESS_COARSE_LOCATION if GPS access is not necessary -->
    <!-- uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--  OPTIONAL - This permission is only necessary if your app has multiple processes -->
    <!--  <uses-permission android:name="android.permission.BROADCAST_STICKY" /> -->

    <!-- END OPTIONAL Urban Airship Settings -->

    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:name="com.urbanairship.push.sample.MyApplication"
                 android:allowClearUserData="true"
                 android:enabled="true">

        <activity android:name="com.urbanairship.push.sample.MainActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.urbanairship.push.sample.preference.PreferencesActivity" />
        <activity android:name="com.urbanairship.push.sample.LocationActivity" />


        <!-- Optional: This is an example of one of the many ways to handle deep
       linking in the application.  To use with your application, update the data
       scheme to be unique for the application and modify ParseDeepLinkActivity.parseDeepLink
       method to match your application's deep link parsing -->
        <activity android:name=".ParseDeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <!-- Handles any vnd.urbanairship.push://deeplink URI's -->
                <data android:scheme="vnd.urbanairship.push" android:host="deeplink" />

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <!-- Needed for Action.startActivityForResult -->
        <activity android:name="com.urbanairship.actions.ActionActivity"/>

        <!-- MODIFICATION REQUIRED
            - Set or Remove the parent activity
            - For more customization details, see com.urbanairship.actions.LandingPageActivity -->
        <activity
            android:name="com.urbanairship.actions.LandingPageActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.urbanairship.push.sample.MainActivity" />

            <intent-filter>
                <action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION"/>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- REQUIRED for Urban Airship GCM-->
        <receiver android:name="com.urbanairship.CoreReceiver" />

        <receiver android:name="com.urbanairship.push.GCMPushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- MODIFICATION REQUIRED - Use your package name as the category -->
                <category android:name="com.urbanairship.push.sample" />
            </intent-filter>

            <!--  REQUIRED for detecting when the application is upgraded so it can request a new GCM ID -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service android:name="com.urbanairship.push.PushService" android:label="Push Notification Service"/>
        <service android:name="com.urbanairship.analytics.EventService" android:label="Event Service"/>
        <service android:name="com.urbanairship.actions.ActionService" />

        <!-- This is required for persisting preferences related to push and location -->
        <!-- MODIFICATION REQUIRED - Replace "com.urbanairship.push.sample" with your package name -->
        <provider android:name="com.urbanairship.UrbanAirshipProvider"
                  android:authorities="com.urbanairship.push.sample.urbanairship.provider"
                  android:permission="com.urbanairship.push.sample.permission.UA_DATA"
                  android:exported="true"
                  android:multiprocess="true" />
        <!-- END OF REQUIRED ITEMS -->


        <!-- OPTIONAL (for segments support) -->
        <service android:name="com.urbanairship.location.LocationService" android:label="Segments Service"/>

        <!-- OPTIONAL, if you want to receive push, push opened and registration completed intents -->
        <!-- Replace the receiver below with your package and class name -->
        <receiver android:name="com.urbanairship.push.sample.IntentReceiver" />



    </application>

</manifest>
