<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:amazon="http://schemas.amazon.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.urbanairship.richpush.sample"
          android:versionCode="1"
          android:versionName="1.0">

    <!-- minSdkVersion sets runtime compatibility ("will run on API level 10") -->
    <!-- targetSdkVersion should be set to the latest version tested, to disable compatibility modes -->
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="22" />

    <!-- REQUIRED for Urban Airship -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />  <!-- Required for Push -->

    <!-- MODIFICATION REQUIRED - Replace "com.urbanairship.richpush.sample" with your package name -->
    <permission android:name="com.urbanairship.richpush.sample.permission.UA_DATA" android:protectionLevel="signature" />
    <uses-permission android:name="com.urbanairship.richpush.sample.permission.UA_DATA" />
    <!-- The two elements above ensure that only this application has access to the Urban Airship provider and can receive push intents -->

    <!-- REQUIRED PERMISSIONS for GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- This app has permission to register with GCM and receive message -->
    <!-- Required MODIFICATION REQUIRED - Replace "com.urbanairship.richpush.sample" with your package name -->
    <permission android:name="com.urbanairship.richpush.sample.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.urbanairship.richpush.sample.permission.C2D_MESSAGE" />
    <!-- The two elements above ensure that only this application can receive the messages and registration result -->

    <!-- REQUIRED PERMISSIONS for ADM -->
    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
    <!-- Required MODIFICATION REQUIRED - Replace "com.urbanairship.richpush.sample" with your package name -->
    <permission android:name="com.urbanairship.richpush.sample.permission.RECEIVE_ADM_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.urbanairship.richpush.sample.permission.RECEIVE_ADM_MESSAGE" />
    <!-- The two elements above ensure that only this application can receive the messages and registration result -->

    <!-- OPTIONAL Urban Airship Settings -->
    <!-- REQUIRED FOR LOCATION -->
    <!-- Use ACCESS_COARSE_LOCATION if GPS access is not necessary -->
    <!-- uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--  OPTIONAL - This permission is only necessary if your app has multiple processes -->
    <!--  <uses-permission android:name="android.permission.BROADCAST_STICKY" /> -->

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.urbanairship.richpush.sample.RichPushApplication"
        android:allowBackup="true"
        android:theme="@style/Theme.AppTheme">

        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- The open inbox action will attempt to start an activity with
            "com.urbanairship.VIEW_RICH_PUSH_INBOX" filter when requesting to view the inbox.-->
            <intent-filter>
                <action android:name="com.urbanairship.VIEW_RICH_PUSH_INBOX" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.urbanairship.richpush.sample.preference.PushPreferencesActivity" />

        <activity android:name="com.urbanairship.richpush.sample.inbox.MessageActivity"
                  android:exported="false">

            <!-- The open inbox action will attempt to start an activity with
            "com.urbanairship.VIEW_RICH_PUSH_MESSAGE" filter when requesting to view a message. The
            message ID is set on the intent's data in the form of "message:<MESSAGE_ID>" -->
            <intent-filter>
                <action android:name="com.urbanairship.VIEW_RICH_PUSH_MESSAGE" />
                <data android:scheme="message"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!-- Optional: This is an example of one of the many ways to handle deep
        linking in the application.  To use with your application, update the data
        scheme to be unique for the application and modify ParseDeepLinkActivity.parseDeepLink
        method to match your application's deep link parsing -->
        <activity android:name=".ParseDeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <!-- Handles any vnd.urbanairship.richpush://deeplink URI's -->
                <data
                    android:scheme="vnd.urbanairship.richpush" android:host="deeplink" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- The provider is needed for the RichPush Widget -->
        <receiver android:name=".widget.RichPushWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- This specifies the widget provider info -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>

        <!-- The service serving the RemoteViews to the collection widget -->
        <service
            android:name=".widget.RichPushWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <!-- OPTIONAL, if you want to receive push, push opened and registration completed intents -->
        <!-- Replace the receiver below with your package and class name -->
        <receiver android:name="com.urbanairship.richpush.sample.PushReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED" />
                <action android:name="com.urbanairship.push.OPENED" />
                <action android:name="com.urbanairship.push.DISMISSED" />
                <action android:name="com.urbanairship.push.RECEIVED" />

                <!-- MODIFICATION REQUIRED - Use your package name as the category -->
                <category android:name="com.urbanairship.richpush.sample" />
            </intent-filter>
        </receiver>


        <!-- REQUIRED for ADM - You must explicitly enable ADM and declare whether your app cannot work without
        ADM (android:required="true") or can work without ADM (android:required="false").
        If you specify android:required="false", your app must degrade gracefully if ADM
        is unavailable. -->
        <amazon:enable-feature
            android:name="com.amazon.device.messaging"
            android:required="false" />

        <!-- REQUIRED for Google Play services (GCM)-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!-- Needed for Action.startActivityForResult -->
        <activity android:name="com.urbanairship.actions.ActionActivity" />

        <activity android:name="com.urbanairship.CoreActivity" />

        <!-- REQUIRED for Landing Pages
        MODIFICATION REQUIRED:
         - Set or Remove the parent activity
         - Set or Remove the theme.  Removing the theme will cause the landing page
         to use the default theme for the application.  If the theme allows an action
         bar and is running on a honeycomb or newer device, the action bar will enable
         up navigation.
         - For more customization details, see com.urbanairship.actions.LandingPageActivity -->
        <activity
            android:name="com.urbanairship.actions.LandingPageActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppTheme.LandingPage"
            android:exported="false"
            tools:ignore="UnusedAttribute">

            <!-- Sample layout, remove to use the default -->
            <meta-data
                android:name="com.urbanairship.action.LANDING_PAGE_VIEW"
                android:resource="@layout/activity_landing_page" />

            <!-- Optional: Landing page will start the parent activity if the landing
            page is the root task.  Also supports proper up navigation if the action
            bar is supported -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.urbanairship.richpush.sample.MainActivity" />

            <intent-filter>
                <action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- REQUIRED for PlayServiceUtils.handleAnyPlayServicesError to handle Google Play services recoverable errors. -->
        <activity
            android:name="com.urbanairship.google.PlayServicesErrorActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- REQUIRED for Urban Airship Push. The priority is important to be set lower than the
               application's push intent receiver in order for the push intent receiver to handle push intents
               before the core receiver. This allows the application to launch any activities before Urban
               Airship performs any actions or falls back to launching the application launch intent. -->
        <receiver android:name="com.urbanairship.CoreReceiver"
                  android:exported="false">

            <intent-filter android:priority="-999">
                <action android:name="com.urbanairship.push.OPENED" />

                <!-- MODIFICATION REQUIRED - Use your package name as the category -->
                <category android:name="com.urbanairship.richpush.sample" />
            </intent-filter>
        </receiver>

        <!-- REQUIRED for GCM -->
        <receiver
            android:name="com.urbanairship.push.GCMPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- MODIFICATION REQUIRED - Use your package name as the category -->
                <category android:name="com.urbanairship.richpush.sample" />
            </intent-filter>
        </receiver>

        <!-- REQUIRED for ADM -->
        <receiver
            android:name="com.urbanairship.push.ADMPushReceiver"
            android:permission="com.amazon.device.messaging.permission.SEND">
            <intent-filter>
                <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
                <action android:name="com.amazon.device.messaging.intent.RECEIVE" />

                <!-- MODIFICATION REQUIRED - Use your package name as the category -->
                <category android:name="com.urbanairship.richpush.sample" />
            </intent-filter>
        </receiver>

        <!-- REQUIRED for Urban Airship -->
        <service android:name="com.urbanairship.push.PushService" android:label="Push Notification Service" />
        <service android:name="com.urbanairship.analytics.EventService" android:label="Event Service" />
        <service android:name="com.urbanairship.actions.ActionService" />
        <service android:name="com.urbanairship.richpush.RichPushUpdateService" />

        <!-- OPTIONAL for Urban Airship Location (for segments support) -->
        <service android:name="com.urbanairship.location.LocationService" android:label="Segments Service" />

        <!-- This is required for persisting preferences related to push and location -->
        <!-- MODIFICATION REQUIRED - Replace "com.urbanairship.richpush.sample" with your package name -->
        <provider
            android:name="com.urbanairship.UrbanAirshipProvider"
            android:authorities="com.urbanairship.richpush.sample.urbanairship.provider"
            android:permission="com.urbanairship.richpush.sample.permission.UA_DATA"
            android:exported="true"
            android:multiprocess="true" />
    </application>

</manifest>
