<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.urbanairship.richpush.sample"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Optional: Needed if using location in Urban Airship. -->
    <!-- Use "android.permission.ACCESS_COARSE_LOCATION" instead if GPS access is not necessary -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.urbanairship.richpush.sample.RichPushApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme"
        android:fullBackupContent="@xml/backup">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- The open inbox action will attempt to start an activity with
            "com.urbanairship.VIEW_RICH_PUSH_INBOX" filter when requesting to view the inbox.-->
            <intent-filter>
                <action android:name="com.urbanairship.VIEW_RICH_PUSH_INBOX"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>


        <activity
            android:name="com.urbanairship.richpush.sample.preference.PushPreferencesActivity"
            android:label="@string/preferences">

            <!-- Lollipop only - Allows the settings to be accessed quickly from long clicking a notification
            or through the application's notification settings. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.urbanairship.richpush.sample.inbox.MessageActivity"
            android:exported="false">

            <!-- The open inbox action will attempt to start an activity with
            "com.urbanairship.VIEW_RICH_PUSH_MESSAGE" filter when requesting to view a message. The
            message ID is set on the intent's data in the form of "message:<MESSAGE_ID>" -->
            <intent-filter>
                <action android:name="com.urbanairship.VIEW_RICH_PUSH_MESSAGE"/>
                <data android:scheme="message"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <!-- Optional: This is an example of one of the many ways to handle deep
        linking in the application. To use with your application, update the data
        scheme to be unique for the application and modify ParseDeepLinkActivity.parseDeepLink
        method to match your application's deep link parsing -->
        <activity android:name=".ParseDeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <!-- Handles any vnd.urbanairship.richpush://deeplink URI's -->
                <data
                    android:host="deeplink"
                    android:scheme="vnd.urbanairship.richpush"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <!-- Optional: Receives push and registration events from the Urban Airship SDK. -->
        <receiver
            android:name="com.urbanairship.richpush.sample.PushReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED"/>
                <action android:name="com.urbanairship.push.OPENED"/>
                <action android:name="com.urbanairship.push.DISMISSED"/>
                <action android:name="com.urbanairship.push.RECEIVED"/>

                <category android:name="${applicationId}"/>
            </intent-filter>

        </receiver>

        <!-- The provider is needed for the RichPush Widget -->
        <receiver android:name=".widget.RichPushWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <!-- This specifies the widget provider info -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo"/>
        </receiver>

        <!-- The service serving the RemoteViews to the collection widget -->
        <service
            android:name=".widget.RichPushWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>


    </application>

</manifest>
